/* Global defaults */
* {
  margin: 0px;
  padding: 0px;
}

/* Body */
body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Gotham Black', sans-serif;
}

/* Fixed contact button */
.contactLink {
  position: fixed;
  bottom: 35px;
  right: 25px;
  z-index: 10;
}

.contactBtn {
  background-color: rgb(10, 117, 1);
  background-color: black;
  border: 2px solid black;
  border-radius: 20px;
  color: white;
  padding: 7px 12px;
  text-align: center;
}

.contactBtn:hover {
  /* background-color: rgb(12, 146, 0); */
  color: orange;
}

/* Navbar css */
.navbar {
  align-items: center;
  background-color: rgb(15,90,31);
  display: flex;
  justify-content: space-between;
  /* font-family: 'Gotham Black', sans-serif; */
}

.navbarLeft {
  align-items: center;
  display: flex;
  gap: 10px;
}

.companyName {
  color: black;
  font-size: 30px;
  margin-bottom: 8px;
  text-align: center;
}

.slogan {
  color: whitesmoke;
  font-style: italic;
  font-size: 20px;
}

.title {
  align-items: center;
}

.logo {
  background-color: white;
  height: 100px;
}

.navBtns {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-right: 10px;
}

.serviceNav {
  align-items: flex-end;
  display: flex;
  gap: 5px;
}

.navLinks {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-right: 35px;
}

.link {
  color: white;
  font-size: 22px;
  text-decoration: none;
}

.linkStyle {
  text-decoration: none;
}

.link:hover {
  color: orange;
}

.contactLink {
  text-decoration: none;
}

#dropdown {
  display: none;
}

.serviceDropdown {
  position: absolute;
  padding-top: 5px;
}

.dropdownItem {
  background-color: rgb(233, 233, 233);
  background-color: rgb(10, 117, 1);
  color: white;
  font-size: 18px;
  font-weight: 500;
  list-style: none;
  padding: 12px 15px;
}

.dropdownItem:hover {
  /* background-color: rgb(3, 148, 3); */
  color: orange;
}

.navServLink {
  color: black;
  text-decoration: none;
}

.menuIcon {
  display: none;
  padding: 5px 20px 0px 20px;
  width: 50px;
}

.navLinksMd {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .companyName {
    font-size: 32px;
  }

  .slogan {
    font-size: 22px;
  }
  
  .contactLink {
    display: none;
  }
  
  .navLinks {
    display: none;
  }

  .navLinksMd {
    display: block;
  }

  #menuItems {
    background-color: rgb(236, 236, 236);
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
  }

  .link {
    color: black;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
  }

  .link:hover {
    color: grey;
  }
  
  .menuIcon {
    display: block;
    /* width: 50px; */
  }

  #dropdownMd {
    display: none;
  }

  #dropdownMd {
    background-color: rgb(236, 236, 236);
    /* display: none; */
    position: absolute;
    right: 348px;
    top: 50px;
  }

  .dropdownItem {
    font-size: 20px;
    width: 200px;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    height: 80px;
  }
  
  .companyName {
    font-size: 25px;
  }

  .slogan {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .logo {
    height: 50px;
    width: 100px;
  }
  
  .companyName {
    font-size: 15px;
  }

  .slogan {
    font-size: 10px;
  }

  .menuIcon {
    width: 40px;
    padding: 5px;
  }
}

/* Banner Section */
.bannerDiv {
  background-color: rgb(15,90,31);
  color: white;
  justify-content: center;
  padding: 50px;
  margin-top: -4px;
  text-align: center;
}

.tree_background {
  width: 100%;
}

.bannerHeader {
  color: orange;
  font-size: 50px;
  text-align: center;
  /* padding: 30px 50px; */
  padding-bottom: 20px;
}

.bannerSubText {
  font-size: 30px;
  font-weight: 500;
  padding: 10px 150px 10px 150px;
}

.bannerDetails {
  font-size: 30px;
  font-weight: 500;
  padding: 10px 150px 10px 150px;
}

@media only screen and (max-width: 1024px) {
  .bannerDiv {
    padding: 20px;
    height: 400px;
  }
  
  .bannerHeader {
    font-size: 35px;
  }

  .bannerSubText {
    font-size: 25px;
  }

  .bannerDetails {
    font-size: 25px;
  }
}

@media only screen and (max-width: 600px) {
  .bannerDiv {
    padding: 10px;
    height: 370px;
  }

  .bannerHeader {
    font-size: 25px;
    padding: 30px 30px 20px 30px;
  }

  .bannerSubText {
    font-size: 20px;
    padding: 0px 40px 20px 40px;
  }

  .bannerDetails {
    font-size: 20px;
    padding: 0px 40px 20px 40px;
  }
}

/* Contact section */
.contactDiv {
  /* background-image: radial-gradient(rgb(172, 172, 172), rgb(134, 134, 134), rgb(56, 56, 56)); */
  display: flex;
  justify-content: center;
  padding: 50px 40px;
  margin-top: 10px;
}

.contactInfo {
  color: orange;
  font-size: 35px;
  text-align: center;
}

.contactMsg {
  color: orange;
}

@media only screen and (max-width: 1024px) {
  .contactInfo {
    font-size: 35px;
  }
}

@media only screen and (max-width: 600px) {
  .contactInfo {
    font-size: 25px;
    padding: 10px 0px;
  }
}

/* About section */
.aboutDiv {
  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 15px 30px 10px 30px;
}

.about {
  color: white;
  display: flex;
  justify-content: space-between;
}

.aboutTitle {
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 10px;
}

.aboutDetails {
  background-color: rgb(15,90,31);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 30px;
}

.aboutMsg {
  font-size: 20px;
}

.aboutImg {
  width: 350px;
}

@media only screen and (max-width: 1020px) {
  .aboutDetails {
    gap: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .about {
    flex-direction: column;
  }

  .aboutDetails {
    gap: 10px;
  }

  .aboutTitle {
    font-size: 25px;
    margin-bottom: 0px;
    padding: 10px;
  }

  .aboutMsg {
    font-size: 20px;
    padding: 10px 10px 30px 10px;
  }

  .aboutImg {
    width: 100%;
    height: 350px;
  }
}

/* Maintenance Section */
.maintenanceDiv {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 10px 30px;
}

.maintenance {
  display: flex;
}

.maintenanceDetails {
  background-color: rgb(15,90,31);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.maintenanceTitle {
  font-size: 30px;
  margin-bottom: 20px;
}

.maintenanceDesc {
  color: white;
  font-size: 20px;
}

.maintenanceList {
  color: white;
  font-size: 20px;
  padding: 20px;
  margin-left: 40px;
}

.maintenanceList li {
  margin-bottom: 20px;
}

@media only screen and (max-width: 980px) {
  .trimmingImg {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .maintenance {
    justify-content: center;
  }

  .maintenanceDetails {
    padding: 30px;
  }

  .trimmingImg {
    display: none;
  }

  .maintenanceTitle {
    font-size: 25px;
  }

  .maintenanceDesc {
    font-size: 20px;
  }

  .maintenanceList {
    font-size: 20px;
    margin-left: 10px;
  }
}

/* Before and After Section */
.diffSep {
  background-color: black;
  padding: 1px;
  margin-top: 10px;
}

.differenceDiv {
  padding-bottom: 30px;
  text-align: center;
}

.differences {
  margin: 10px 30px;
}

.differenceTitle {
  font-size: 45px;
  padding: 30px;
  margin-bottom: 20px;
}

.differenceSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.differenceType {
  display: flex;
}

.differenceDetails {
  background-color: rgb(15,90,31);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 30px;
  width: 100%;
}

#trimBefore, #pruneBefore, #removeBefore, #stumpBefore {
  display: inherit;
  height: 450px;
  width: 70%;
}

#trimAfter, #pruneAfter, #removeAfter, #stumpAfter {
  height: 450px;
  width: 70%;
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: .5s;
}

@keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}

.servTitle {
  color: White;
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.serviceDetails {
  text-align: left;
  font-size: 20px;
}

.servicesLink {
  color: orange;
  font-size: 40px;
}

@media only screen and (max-width: 600px) {
  .differenceTitle {
    font-size: 25px;
  }

  .right {
    flex-direction: column;
  }

  .left {
    flex-direction: column-reverse;
  }

  .differenceDetails {
    padding: 30px 15px;
    width: fit-content;
  }

  .servTitle {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .serviceDetails {
    font-size: 20px;
    margin-top: 10px;
    padding: 0px 10px;
  }

  #trimBefore, #pruneBefore, #removeBefore, #stumpBefore {
    height: 350px;
    width: 100%;
  }

  #trimAfter, #pruneAfter, #removeAfter, #stumpAfter {
    height: 350px;
    width: 100%;
  }
}

/* Contact Us Page */
.contactWrapper {
  padding-bottom: 50px;
}

.contactTitle {
  font-size: 35px;
  padding-top: 30px;
  text-align: center;
}

.contactSubTitle {
  font-size: 23px;
  margin-top: 20px;
  text-align: center;
}

.formLabel {
  flex: 1;
  font-size: 25px;
  margin-right: 10px;
}

.inputDiv {
  flex: 2;
  display: flex;
  height: 110%;
  flex-direction: column;
}

.error {
  color: red;
  font-size: 18px;
}

.formInput {
  flex: 2;
  font-size: 20px;
  height: 100%;
  padding: 5px 5px;
}

.selectInput {
  flex: 2;
  font-size: 20px;
  height: 100%;
  padding: 8px 0px;
}

.formTextArea {
  flex: 2;
  font-size: 20px;
  padding: 5px 5px;
  overflow: auto;
}

.submitDiv {
  display: flex;
  justify-content: center;
}

.formSubmit {
  background-color: blue;
  border-radius: 25px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 30px;
}

.formSubmit:hover {
  background-color: rgb(0, 0, 163);
  color: white;
}

.requestFormDiv {
  color: black;
  display: flex;
  justify-content: center;
  margin: 30px 0px 30px 0px;
}

.requestForm {
  background-color: whitesmoke;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px;
  width: 70%;
}

.formInputDiv {
  display: flex;
}

@media only screen and (max-width: 1020px) {
  .contactTitle {
    font-size: 30px;
  }

  .contactSubTitle {
    font-size: 20px;
  }

  .requestForm {
    width: 80%;
  }

  .formLabel {
    font-size: 20px;
  }

  .formSubmit {
    padding: 5px 25px;
  }
}

@media only screen and (max-width: 600px) {
  .contactTitle {
    font-size: 25px;
  }

  .contactSubTitle {
    font-size: 15px;
    margin: 10px 20px;
  }

  .requestForm {
    width: 80%;
    gap: 15px;
  }

  .formLabel {
    font-size: 15px;
    flex: 2;
    margin-right: 5px;
  }

  .formInput, .selectInput, .formTextArea {
    font-size: 13px;
    flex: 1;
  }

  .selectInput {
    flex: 2;
  }

  .formSubmit {
    font-size: 15px;
  }
}

/* Tree Trimming */
.serviceTitle {
  font-size: 40px;
  padding-top: 30px;
  text-align: center;
}

.serviceSection {
  display: flex;
  gap: 100px;
  margin: 40px 150px;
}

.serviceLeft {
  flex: 3;
}

.serviceRight {
  flex: 1;
}

.serviceDesc {
  font-size: 17px;
  padding: 20px 0px 20px 0px;
  line-height: 30px;
}

.serviceBlock {
  margin-bottom: 30px;
}

.trimmingDiagram {
  margin: 20px 0px;
}

.diagramTitle {
  text-align: center;
}

.diagramCredit {
  text-align: center;
  font-style: italic;
}

.serviceImg {
  display: flex;
  justify-content: center;
}

.itemList {
  font-size: 22px;
  margin-top: 10px;
}

/* Tree Removal Page */
.descList {
  font-size: 16px;
  margin-left: 30px;
  line-height: 35px;
}

.descHeader {
  font-size: 17px;
  margin: 10px 0px;
  line-height: 30px;
}

/* Crown Raising page */
.crownRaisingImg {
  width: 35%;
  margin-bottom: 40px;
}

/* Crown Reduction page */
.crownReductionImg {
  margin: 30px 0px;
}

/* Cabling page */
.cobraImg {
  width: 80%;
}

/* Services Links */
.serviceListTitle {
  color: rgb(175, 114, 0);
  margin-bottom: 15px;
}

.serviceLinks {
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.serviceList {
  list-style: none;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1024px) {
  .serviceSection {
    flex-direction: column;
    gap: 20px;
    margin: 20px 30px 50px 30px;
  }

  .serviceTitle {
    font-size: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .serviceSection {
    margin: 10px 20px;
    margin-bottom: 50px;
  }

  .serviceTitle {
    font-size: 25px;
  }

  .trimmingDiagramImg {
    width: 100%;
  }

  .diagramCredit {
    font-size: 13px;
  }

  .serviceSubTitle {
    font-size: 20px;
  }

  .itemList {
    font-size: 20px;
  }

  .serviceLinks {
    font-size: 18px;
  }
}

/* Site Map Section */
.mapWrapper {
  background-color: rgb(36, 36, 36);
  color: gainsboro;
  font-size: 20px;
  padding: 20px;
  padding-bottom: 50px;
  text-align: center;
}

.mapTitle {
  color: rgb(21, 121, 43);
  font-size: 43px;
  text-align: center;
}

.mapHeader {
  color: rgb(21, 121, 43);
  margin-bottom: 15px;
}

.mapHr {
  margin: 30px 0px;
}

.mapDiv {
  display: flex;
  justify-content: space-around;
  margin: 0px 70px;
}

.bbbImg {
  height: 100px;
  margin-top: 30px;
}

.emergencyService {
  color: orange;
  font-size: 45px;
  font-weight: bold;
}

.yelpLogo {
  cursor: pointer;
  height: 75px;
}

.instaLogo {
  cursor: pointer;
  height: 75px;
}

.mapLink {
  color: gainsboro;
}

.mapLink:hover {
  color: yellow;
}

.siteLinks {
  display: flex;
  flex-direction: column;
}

.siteServLink {
  color: gainsboro;
}

.siteServLink:hover {
  color: yellow;
}

.logosDiv {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.footer {
  align-items: flex-end;
  display: flex;
  justify-content: center;
}

.isaImgDiv {
  flex: 1;
}

.isaImg {
  border-radius: 5px;
  height: 230px;
}

.mapDetailDiv {
  display: flex;
  flex: 5;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .mapTitle {
    font-size: 25px;
  }

  .mapSubTitle {
    font-size: 17px;
  }

  .mapDiv {
    flex-direction: column-reverse;
  }

  .mapLinks {
    flex-direction: column;
    gap: 25px;
    margin-bottom: 30px;
  }

  .mapHeader {
    font-size: 23px;
    margin-bottom: 5px;
  }

  .mapLink, .siteServLink {
    font-size: 18px;
  }
}